/* 
body 
*/
body {
    /*background-color: #f8f9fa;*/
}
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed; 
  background-color: #fff;
  z-index: 99;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-image {
  z-index: 999;
}
/* 
Start Navbar
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------multi-level-Avatar-menu------------*/
.navbar-logo{
	padding: 15px;
	color: #343a40;
}
.navbar-mainbg{
	background-color: #fff;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: #343a40;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #fff;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #ffc107;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #ffc107;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

/* 
slick slider 
*/
    html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 100%;
        margin: 0px auto; 
    }
 
    .slick-slide {
      margin: 0px 0px;  
      
      overflow: hidden !important;
    }

    .slick-slide img {
      width: 60%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }
    
    .slick-prev {
        left: 14px;
        z-index: 1;
        background-color: #fff !important;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        display: none !important;
    }

    .slick-next {
        right: 14px;
        z-index: 1;
        background-color: #fff !important;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        display: none !important;
    }

    .slick-list:hover + .slick-next{
        display: block !important;
    }

    .slick-list:hover + .slick-prev{
        display: block !important;
    }
    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
      
    }
    
    .slick-active {
      opacity: 1;
    }
 

    .slick-current {
      opacity: 1;
    }
 
    .slider div .card {
        width: 100% !important;
        
    }
    .slider div .card img { 
        width: 100%; 
    }
    
    .slick-slide .card {
        
    }
    
    .slick-slide .card .card-body {
        position: absolute; 
        bottom: 0; 
        width: 100%;
        height: 100%;
        font-size: 21px;
        background-image: linear-gradient(180deg, rgb(255 255 255 / 0%), #212529);   
    }

    .grading .card-title {
        bottom: 70px;
        position: absolute;
        color: #fff;
        text-align: center !important;
        width: 92%;
        text-decoration: none;
    }

    .post-meta {
        line-height: 12px;
        position: absolute;
        bottom: 43px;
        font-size: 13px;
        text-align: center;
        width: 92%;
    }

    .post-meta .post-meta-inner span,
    .post-meta .post-meta-inner a {
        color: #b0b0b0 !important
    }
 
/* 
    Home page section 1
*/

grading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgb(255 255 255 / 0%), #212529);   
}
 
.section1 .card-group .card .card-body {
    position: absolute;
    width: 100%;
}
.section1 .post-meta {
    color: #fff !important;
    text-decoration: none;
}

.section1 .post-meta a{
    color: #fff !important;
    text-decoration: none;
}

.max-char {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;    
}

 

.zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom:hover img {
	-webkit-transform: scale(1.005);
	transform: scale(1.005);
}
 
[class^='imghvr-'],
[class*=' imghvr-'] {
    background-color: #ffc107;
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%; 
    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
}


element.style {
}
.imghvr-push-up figcaption {
    transform: translateY(100%);
}
[class*="imghvr-"] figcaption, [class^=imghvr-] figcaption {
    background-color: #ffc107;
}

 
@media screen and (min-width: 992px) { 
    #articlesLeft{
        padding-right: unset !important;  
    }
    #articlesRight{
        padding-left: unset !important;  
    }
}

/* 
========================================== 
start home page section 2
========================================== 
*/
.section2 {
    background-color: #ffc107;   
}

.section2 .media h5 {
    text-decoration: none;
    color: #fff;
}

.section2 .media h5:hover {
    text-decoration: none !important;
    color: #f58b08;
}

.headding-border {
    position: relative;
    border-bottom: 1px solid #ddd;
    background-color: #ffa200;
    margin-bottom: 30px;
}

.headding-border::before {
    position: absolute;
    bottom: -1px;
    width: 50px;
    height: 4px;
    background-color: inherit;
    content: ''
}
.headding-border::after {
    position: absolute;
    bottom: -1px;
    width: 15px;
    height: 4px;
    background-color: inherit;
    content: '';
    left: 53px;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.category-headding {
    margin-top: 0;
    font-size: 22px;
    color: #222;
    text-transform: uppercase;
    font-family: Lato,sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
}

.btn-inline-warning {
    background-color : #ffc107;
    color: #fff;
}
.btn-inline-warning:hover {
    background-color: #fff;
    color: #ffc107 !important;
    border-color: #ffc107;
}

.rounded-btn {
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}